note: compare different sentiment modeling like nltk VADER, nltk roBERTa

- Time-series modeling ish like generating lag features

NOTES
- consider oversampling if unbalanced. look into python imbalanced-learn for oversampling limited data. can cause overfitting
- create feature using one word vectorizer, tune a lil with feature importnaces etc. repeat for a few vectorizers
    - ridge or lasso for regressions?
    - repeat for a few model types?
    - include sent scores, might be ignored 
- keep track of feature importances

# Feature Engineering and Modeling

# Predicting Stock Market Performance Based on Speeches by The Fed

## Table of Contents

1. Import Packages, Modules, Data
2. Feature Engineering
3. Model Training

## 1. Import Packages, Modules, Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer

#### Read and Inspect .pkl files from notebook 3_2_EDA

In [3]:
every_date_df = pd.read_pickle('data_intermediate/rolling_av_df.pkl')
master_df_speech_dates = pd.read_pickle('data_intermediate/speech_date_df.pkl')
sp_clean_df = pd.read_pickle('data_intermediate/sp500_cleaned.pkl')

In [4]:
every_date_df.head(2)

,txt_tokenized,vader_sent_overall,begin_sent,mid_sent,end_sent,Price,Open,High,Low,Change %,daily_span_y,Change%_7d_roll_past,daily_span_7d_roll_past,Price_roll_past,Change%_7d_roll_future,daily_span_7d_roll_future,Price_roll_future
Date,,,,,,,,,,,,,,,,,
2023-10-25,NaN,NaN,NaN,NaN,NaN,4201.149902,4230.040039,4230.040039,4196.250000,-1.10,33.790039,NaN,NaN,NaN,-0.571429,54.304269,4265.118652
2023-10-24,NaN,NaN,NaN,NaN,NaN,4247.680176,4235.790039,4259.379883,4219.430176,0.73,39.949707,NaN,NaN,NaN,-0.262857,55.328544,4289.758650

In [5]:
master_df_speech_dates.head(2)

,txt_tokenized,vader_sent_overall,begin_sent,mid_sent,end_sent,Price,Open,High,Low,Change %,daily_span_y,Change%_7d_roll_past,daily_span_7d_roll_past,Price_roll_past,Change%_7d_roll_future,daily_span_7d_roll_future,Price_roll_future,sp_chg_across_speech
Date,,,,,,,,,,,,,,,,,,
2023-10-19,"[for, release, on, delivery, noon, edt, octobe...",0.9983,0.9931,0.9595,0.9104,4278.000000,4321.359863,4339.540039,4269.689941,-0.85,69.850098,NaN,NaN,NaN,-0.261429,55.150042,4341.967146,NaN
2023-09-28,"[for, release, on, delivery, 400, pm, edt, sep...",0.9955,0.9290,0.9796,0.9895,4299.700195,4269.649902,4317.270020,4264.379883,0.59,52.890137,0.117143,58.577148,4276.575753,-0.467143,48.037040,4319.634277,43.058524

In [6]:
sp_clean_df.head(2)

,Price,Open,High,Low,Change %,daily_span
Date,,,,,,
2023-10-25,4201.149902,4230.040039,4230.040039,4196.250000,-1.10,33.790039
2023-10-24,4247.680176,4235.790039,4259.379883,4219.430176,0.73,39.949707

## 2. Feature Engineering

NLTK tutorial notes - nltk.pos_tag(tokens) -> adds part of speech tags to each token

- word2vec feature?
- token feature?
- Bag of words feature?
- create dependent variable y -> did it go up in following 7 days?
- tf-idf

#### Create dataset for modeling

In [8]:
modeling_df = master_df_speech_dates.copy()

In [9]:
modeling_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26 entries, 2023-10-19 to 2020-04-09
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   txt_tokenized              26 non-null     object
 1   vader_sent_overall         26 non-null     float64
 2   begin_sent                 26 non-null     float64
 3   mid_sent                   26 non-null     float64
 4   end_sent                   26 non-null     float64
 5   Price                      26 non-null     float32
 6   Open                       26 non-null     float32
 7   High                       26 non-null     float32
 8   Low                        26 non-null     float32
 9   Change %                   26 non-null     float32
 10  daily_span_y               26 non-null     float32
 11  Change%_7d_roll_past       25 non-null     float64
 12  daily_span_7d_roll_past    25 non-null     float64
 13  Price_roll_past            25 non-null     float64
 14  Change%_7d_roll_future     26 non-null     float64
 15  daily_span_7d_roll_future  26 non-null     float64
 16  Price_roll_future          26 non-null     float64
 17  sp_chg_across_speech       25 non-null     float64
dtypes: float32(6), float64(11), object(1)
memory usage: 3.2+ KB

In [ ]:
#bag of words
countvector=CountVectorizer(ngram_range=(2,2))

## 3. Model Training